<a href="https://github.com/christopheralcock/haiku_machine/blob/master/README.md">Here is a link that kind of explains what this does if it's not obvious</a>

<h1>Please tell me a phrase you want to incorporate in your lyrics:</h1>
<p>You need at least one single-syllable phrase, because of maths</p>
<form method='post' action='/add_to_dictionary'>
  <p>Phrase:
  <input type="text" name="phrase" placeholder="eg. I was born under a wandering star"></p>
  </p>How many syllables you pronounce the phrase with:
  <input type="text" name="syllables" placeholder="eg. 10"></p>
  <p><input class="button" type='submit' value='Submit Phrase'></p>
</form>

<% if dictionary_is_valid? %>
  <%= erb :dictionary %>
  <%= erb :custom %>
  <%= erb :haiku %>
<% end %>

<p>yr cookies r: <%= @cookies %></p>
