<p>Please tell me a phrase you want to incorporate in your lyrics:</p>



<form method='post' action='/'>
  <input type="text" name="phrase" placeholder="eg. I was born under a wandering star">
  <input type="text" name="syllables" placeholder="eg. 10">
  <input class="button" type='submit' value='Submit Phrase'>
</form>


<h1>DICTIONARY</h1>
<ul>
  <% @dictionary.each do |phrase, syllables| %>
    <li>Phrase: "<%= phrase %>", Number of syllables: <%= syllables %></li>
  <% end %>
</ul>


<h1>RANDOM HAIKU CREATED FROM DICTIONARY</h1>
<ul>
  <% @haiku.each do |line| %>
    <li> <%= line %> </li>
  <% end %>
</ul>
