<p>Please tell me a phrase you want to incorporate in your lyrics:</p>

<form method='post' action='/dictionary/new'>
  <input type="text" name="phrase" placeholder="eg. I was born under a wandering star">
  <input class="button" type='submit' value='Submit Phrase'>
</form>
