<!DOCTYPE html>
<html>
  <head>
    <title>LYRICS WRITER</title>
    <link rel="stylesheet" href ="/styles.css" type='text/css'>
  </head>

  <body>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
